#hero {
  height: 100vh;
  background-image: url("../img/bg_hero.jpg");
  background-size: cover;
  background-position: bottom;

  .hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: $title_font;
    text-transform: uppercase;

    h1 {
      font-size: 80px;
      letter-spacing: 3px;
      @media(max-width: 622px) {
        font-size: 33px;
      }
    }

    p {
      font-size: 24px;
      letter-spacing: 2px;
      @media(max-width: 622px) {
        font-size: 18px;
        text-align: center;
        max-width: 245px;
      }
    }
  }
}
